<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WEB_URL_SQ" value="http://120.194.196.253:8008/"/>
    <add key="WEB_TITLE" value="商丘资源执法监管外网平台"/>
    <add key="WEB_URL" value="http://117.158.102.2:8008/"/>

    <add key="MQ_HOST" value="120.194.196.253"/>
    <add key="MQ_PORT" value="8012"/>

    <add key="SERVER_HOST" value="111.6.99.50"/>
    <add key="SERVER_PORT" value="9900"/>

    <add key="RECT_TOP" value="1036"/>
    <add key="RECT_LEFT" value="40"/>
    <add key="RECT_WIDTH" value="500"/>
    <add key="RECT_HEIGHT" value="40"/>

    <add key="BINARY_MIN" value="40"/>
    <add key="BINARY_MAX" value="255"/>

    <add key="PACK_SIZE" value="3000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add  key="ConnStr" value="Data Source=192.168.1.9;Initial Catalog=ZFJCDB;Uid=sa;password=tlkj123!@#;"/>
  </appSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
