<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net461" />
  <package id="CefSharp.Common" version="69.0.0" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="69.0.0" targetFramework="net461" />
  <package id="EMGU.CV" version="3.4.3.3016" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>